@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');
@import 'vars';
@import 'mixins';

#garage-content {
    margin-top: 2.5rem;
    font-family: $secondary-font;
    padding: 0 2rem 2rem 2rem;

    button {
        padding: .5rem 1rem;
        background-color: transparent;
        border-radius: 50rem;
        font-size: 20px;
    } 

    .sm-padding {
        padding: .2rem .5rem;
    }
    .md-padding {
        padding: .25rem .55rem;
    }
    .sm-btn {
        font-size: 16px;
    }
    .orange-btn {
        @include diff-color-btns ($orange);
    }
    .light-blue-btn {
        @include diff-color-btns ($light-blue);
    }
    .green-btn {
        @include diff-color-btns ($green);
    }
    .gray-btn {
        @include diff-color-btns ($gray);
    }

    .btns-block {
        @include flex (row, no-wrap, space-between); 
        align-content: center;
        align-items: center;
        margin-bottom: 2rem;  
        
        .race-btns {
            button {
                &:first-child {
                    margin-right: 1rem;
                }
            }
        }

        .cu-btns {
            @include flex (row, no-wrap, space-between);
            align-items: center;
            align-content: center;

            input[type="text"] {
                width: 9rem;
                height: 1.5rem;
                align-self: center;
                border-radius: 50rem;
            }
            input[type="color"] {
                width: 2rem;
                align-self: center;
                margin: 0 .5rem;
            }

            .create {
                margin-right: 2rem;
            }

            .invalid-form-input {
                border-color: rgb(132, 1, 1);
                color: rgb(132, 1, 1);
                font-size: 1rem;
            }
        }
    }

    .divider {
        @include bg-img (url('./Assets/divider.png'), no-repeat, contain);
        width: 20rem;
        margin: 0 auto;
        height: 3rem;
    }

    .cars-list {
        .car {
            .car-sets {
                @include flex (row, no-wrap, left);
                align-content: center;
                align-items: center;

                .car-race-btns, .start-stop-btns {
                    @include flex (column, no-wrap, space-between);
                    margin-right: .5rem;

                    button {
                        &:first-child {
                            margin-bottom: .5rem;
                        }
                    }
                }

                .car-ico {
                    i {
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    .garage-info {
        @include flex (row, no-wrap, space-between);
        margin-top: 1.5rem;

        .garage-count p {
            font-size: 2rem;
            font-weight: 600;
            color: $light-blue;
        }

        @include pagination;
    }

    .fetch-error, .fetch-loading, .car-name p {
        color: $gray;
        font-size: 20px;
        margin-top: 2rem;
    }

    .car-name p {
        margin-top: 0;
        margin-left: 2rem;
        text-transform: uppercase;
    }
}

// RESPONSIVE
@media screen and (max-width: 1150px) {
    #garage-content {
        button {
            font-size: 1rem;
            padding: .2rem .6rem;
        }
        .sm-padding {
            padding: .1rem .3rem;
        }
        .md-padding {
            padding: .15rem .4rem;
        }
        .sm-btn {
            font-size: .82rem;
        }

        .btns-block {
            .cu-btns {
                input[type="text"] {
                    width: 8rem;
                    height: 1rem;
                }

                input[type="color"] {
                    height: 1.5rem;
                    width: 1.5rem;
                    margin: 0 .5rem;
                }

                .invalid-form-input {
                    font-size: 1rem;
                }
            }
        }

        .divider {
            width: 15rem;
            height: 2rem;
        }

        .cars-list {
            .car {
                .car-sets {
                    .car-race-btns, .start-stop-btns {
                        button {
                            &:first-child {
                                margin-bottom: .3rem;
                            }
                        }
                    }
    
                    .car-ico {
                        i {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }

        .garage-info {
            .garage-count p {
                font-size: 1.3rem;
                margin-top: 1rem;
            }
        }

        .fetch-error, .fetch-loading, .car-name p {
            font-size: 1rem;
            margin-top: 1.5rem;
        }
    
        .car-name p {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 910px) {
    #garage-content {
        .btns-block {
            .race-btns {
                @include flex(column, no-wrap, space-between);
                width: 6rem;

                button {
                    width: 93%;

                    &:first-child {
                        margin-bottom: .3rem;
                    }
                }
            }

            .cu-btns {
                flex-direction: column;

                button {
                    width: 4.3rem !important;
                }

                .create {
                    margin-bottom: .3rem;
                    margin-right: 0;
                }

                input[type="text"] {
                    width: 6rem;
                    height: 1rem;
                }
            }
        }
    }
}