@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
#navbar-content {
  background-image: url("./Assets/ai-generated-8656751_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Zen Dots", sans-serif;
  height: 8rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
#navbar-content h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  color: #fff;
  -webkit-text-stroke-color: #021826;
  -webkit-text-stroke-width: 1px;
}
#navbar-content h1 i {
  display: block;
  margin-left: 6rem;
}
#navbar-content .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#navbar-content .nav-links ul li {
  color: #021826;
  background-color: #CFFBFC;
  font-size: 1.5rem;
  width: 11rem;
  height: 3rem;
  text-align: center;
  border: 5px solid #D39E6F;
  border-radius: 10rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
#navbar-content .nav-links ul li:first-child {
  margin-right: 2rem;
}
#navbar-content .nav-links ul li:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #D39E6F;
  border-color: #CFFBFC;
}
#navbar-content .nav-links ul li a {
  width: 100%;
  height: 1.5rem;
  display: block;
  padding: 0.7rem 0;
  text-decoration: none;
  color: #021826;
}

@media screen and (max-width: 780px) {
  #navbar-content h1 {
    font-size: 2.5rem;
  }
  #navbar-content .nav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar-content .nav-links ul li {
    height: 2.5rem;
  }
  #navbar-content .nav-links ul li:first-child {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  #navbar-content .nav-links ul a {
    height: 2rem;
    padding: 0.2rem;
  }
}