// FONTS
$main-font: "Zen Dots", sans-serif;
$secondary-font: "Yaldevi", sans-serif;

// COLORS
$orange: #D39E6F;
$light-blue: #CFFBFC;
$dark-blue: #021826;
$white: #fff;
$green: #8FD36F;
$gray: #CBCBCB;